<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UsersMapper">
    <!-- parameterType 和 parameterMap的区别 二者都是用于指定sql传入的参数
    parameterType主要是用于区分简单类型如int,string,long等
    parameterMap则用于指定对象类型 -->
    <insert id="insertXml" parameterMap="userMap">
        insert into users(username, password, enabled) values (#{username}, #{password}, #{enabled})
    </insert>

    <parameterMap id="userMap" type="entity.Users">
        <parameter property="username" javaType="String"/>
        <parameter property="password" javaType="String"/>
        <parameter property="enabled" javaType="Integer"/>
    </parameterMap>
</mapper>